.number {
    font-family: Segoe UI;
    font-size: 50px;
    font-weight: bold;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}